.bio-info, .timeline-life-novels li, .timeline-bond-films li, footer, p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-align: center;
  color: #D4AF37;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  text-align: center;
  color: #000;
}

.hero-img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 3%;
}

.bio-info, footer {
  padding-top: 15px;
  padding-bottom: 10px;
}

a, a:hover {
  color: #d4af37;
}

.timeline-life-novels ul, .timeline-bond-films ul {
  list-style: none;
  padding-bottom: 10px;
}

hr {
  margin-bottom: 10px;
  margin-top: 25px;
}

.footer, .footer p {
  font-size: 13px;
  margin-bottom: 25px;
  text-align: center;
}

blockquote, blockquote p, blockquote footer {
  font-size: 18px;
}

#learn-more {
  font-size: 16px;
}

.one-edge-shadow-gray {
  -webkit-box-shadow: 0 8px 6px -5px gray;
  -moz-box-shadow: 0 8px 6px -5px gray;
  box-shadow: 0 8px 6px -5px gray;
}
